<h3>Let's get you signed up!</h3>
<br>
<div class="col-xs-1">
</div>
<div class="col-xs-10">
  <%=bootstrap_form_for(@user) do |f|%>
    <div class="field">
      <%= f.text_field :username%>
    </div>
    <div class="field">
      <%= f.text_field :email%>
    </div>
    <div class="field">
      <%= f.password_field :password%>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation%>
    </div>
    <%= f.submit%>
  <%end%>
  <br>
  <hr>
  <div class="back-button" style="min-height:100px;">
    <%=link_to "Back", root_url, class: "btn btn-warning btn-lg"%>
  </div>
</div>
<div class="col-xs-1">
</div>
